
# Database
DB_URL=your-jdbc-url
DB_USERNAME=-your-pg-username
DB_PASSWORD=your-pg-password

# JWT
CORS_ORIGIN=your-origin
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_EXPIRATION=your-accessToken-expiration
REFRESH_TOKEN_EXPIRATION=your-refreshToken-expiration


# Upload limits
MAX_FILE_SIZE=your-limit
MAX_REQUEST_SIZE=your-limit


# ImageKit
IMAGEKIT_PUBLIC_KEY=your-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_URL_ENDPOINT=imagekit-endpoint
